<?xml version="1.0"?>
<configuracao>
    <db>
        <usuario>dbxbs</usuario>
        <senha>bs</senha>
        <host>127.0.0.1</host>
        <database>dbx</database>
    </db>
    <dbADM>
        <usuario>dbxbsadm</usuario>
        <senha>adm</senha>
        <host>127.0.0.1</host>
        <database>dbx</database>
    </dbADM>
</configuracao>